<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-overview/">Getting Started with Library Carpentry</a></td> </tr>
      <tr> <td>10:00</td>  <td>Morning break</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>11:15</td>  <td>Mid-morning break</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Regular Expressions (continued)</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://librarycarpentry.org/lc-git/">Introduction to Git - LINK WILL CHANGE</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td>Introduction to Git (continued)</td> </tr>
      <tr> <td>15:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Introduction to Git (continued)</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine</a></td> </tr>
      <tr> <td>10:00</td>  <td>Morning break</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine (continued)</a></td> </tr>
      <tr> <td>11:15</td>  <td>Mid-morning break</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine (continued)</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data (Cleaing Data in Spreadsheets)</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data (continued)</a></td> </tr>
      <tr> <td>15:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data (continued)</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
